<!DOCTYPE html>
<html>
<head>
  <title>ActiveCrud</title>
  <%= stylesheet_link_tag    "active_crud/application", media: "all" %>
  <%= javascript_include_tag "active_crud/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
